.button {
  font-family: "myCostumFont", serif;
  background-color: #ffd400;
  color: black !important;
  height: 38px;
  width: 180px;
  font-size: 20px;
  border-style: none;
  border-radius: 20px;
  transition-duration: 0.4s;
}

.return-button {
  display: flex;
  justify-content: flex-end;
  padding-right: 8px;
}

.button:hover {
  cursor: pointer;
  background-color: #ddbb15;
  box-shadow: 0.5px 2px 2.2px rgba(0, 0, 0, 0.02),
    1px 4.3px 5.3px rgba(0, 0, 0, 0.028), 1.8px 7.8px 10px rgba(0, 0, 0, 0.035),
    3.3px 14px 17.9px rgba(0, 0, 0, 0.042),
    6.3px 27px 33.4px rgba(0, 0, 0, 0.05), 13px 56px 80px rgba(0, 0, 0, 0.07);
}

.disabled-button {
  font-family: "myCostumFont", serif;
  background-color: #ffd400;
  height: 38px;
  width: 180px;
  font-size: 20px;
  border-style: none;
  border-radius: 20px;
  transition-duration: 0.4s;
}

.disabled-button:hover {
  cursor: not-allowed;
  background-color: #ddbb15;
  box-shadow: 0.5px 2px 2.2px rgba(0, 0, 0, 0.02),
    1px 4.3px 5.3px rgba(0, 0, 0, 0.028), 1.8px 7.8px 10px rgba(0, 0, 0, 0.035),
    3.3px 14px 17.9px rgba(0, 0, 0, 0.042),
    6.3px 27px 33.4px rgba(0, 0, 0, 0.05), 13px 56px 80px rgba(0, 0, 0, 0.07);
}

.start-button {
  padding-top: 18px;
}

.bigger-button{
  height: 55px;
}
